<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.opendatakit.androidlibrary.test"
    android:versionCode="127"
    android:versionName="2.0"
    android:sharedUserId="org.opendatakit"
    android:sharedUserLabel="@string/app_userLabel" >

	<uses-sdk android:minSdkVersion="16" />

	<instrumentation
		android:name="android.test.InstrumentationTestRunner"
		android:targetPackage="org.opendatakit.androidlibrary.test" />
	
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

	<application
		android:allowBackup="false"
		android:debuggable="true"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
        android:theme="@style/Opendatakit" >
		<uses-library android:name="android.test.runner" />
	</application>

</manifest>