<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <permission-group
        android:name="org.opendatakit.services.permissions"
        android:description="@string/services_permissions_description"
        android:icon="@drawable/odk_services"
        android:label="@string/services_permission_tree" />

    <permission-tree
        android:name="org.opendatakit.sync"
        android:icon="@drawable/odk_services"
        android:label="@string/services_permission_tree" />
    <permission-tree
        android:name="org.opendatakit.database"
        android:icon="@drawable/odk_services"
        android:label="@string/services_permission_tree" />
    <permission-tree
        android:name="org.opendatakit.webkitserver"
        android:icon="@drawable/odk_services"
        android:label="@string/services_permission_tree" />

    <permission
        android:name="org.opendatakit.webkitserver.RUN_WEBSERVER"
        android:label="@string/webkit_launch_permission"
        android:permissionGroup="org.opendatakit.services.permissions"
        android:protectionLevel="signature" />
    <permission
        android:name="org.opendatakit.database.RUN_DATABASE"
        android:label="@string/database_launch_permission"
        android:permissionGroup="org.opendatakit.services.permissions"
        android:protectionLevel="signature" />
    <permission
        android:name="org.opendatakit.sync.RUN_SYNC"
        android:label="@string/sync_launch_permission"
        android:permissionGroup="org.opendatakit.services.permissions"
        android:protectionLevel="signature" />

    <application
        android:name=".application.Services"
        android:allowBackup="true"
        android:icon="@drawable/odk_services"
        android:installLocation="auto"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:logo="@drawable/odk_services"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/ODKX"
        android:usesCleartextTraffic="true">

        <service
            android:name=".webkitservice.service.OdkWebkitServerService"
            android:exported="true"
            android:permission="org.opendatakit.webkitserver.RUN_WEBSERVER"
            android:process=":webkitservice"></service>
        <service
            android:name=".database.service.OdkDatabaseService"
            android:exported="true"
            android:permission="org.opendatakit.database.RUN_DATABASE"
            android:process=":databaseservice"></service>
        <service
            android:name=".sync.service.OdkSyncService"
            android:exported="true"
            android:permission="org.opendatakit.sync.RUN_SYNC"
            android:process=":sync"></service>
        <service
            android:name=".sync.service.ClearSuccessfulSyncService"
            android:exported="false"></service>

        <provider
            android:name=".tables.provider.TablesProvider"
            android:authorities="org.opendatakit.provider.tables"
            android:exported="true"
            android:initOrder="1"
            android:process=":providers"
            android:syncable="false" />
        <provider
            android:name=".forms.provider.FormsProvider"
            android:authorities="org.opendatakit.provider.forms"
            android:exported="true"
            android:initOrder="2"
            android:process=":providers"
            android:syncable="false" />
        <provider
            android:name=".instance.provider.InstanceProvider"
            android:authorities="org.opendatakit.provider.instances"
            android:exported="true"
            android:initOrder="3"
            android:process=":providers"
            android:syncable="false" />
        <provider
            android:name=".submissions.provider.SubmissionProvider"
            android:authorities="org.opendatakit.provider.submission.xml;org.opendatakit.provider.submission.json"
            android:exported="true"
            android:initOrder="4"
            android:process=":providers"
            android:syncable="false" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".resolve.checkpoint.CheckpointResolutionActivity">
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".resolve.conflict.ConflictResolutionActivity">
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".resolve.conflict.AllConflictsResolutionActivity">
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sync.actions.activities.SyncActivity"
            android:theme="@style/ODKX">
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sync.actions.activities.LoginActivity"
            android:theme="@style/ODKX">
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sync.actions.activities.VerifyServerSettingsActivity"
            android:theme="@style/ODKX">
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".preferences.activities.AppPropertiesActivity">
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".preferences.activities.ClearAppPropertiesActivity">
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".preferences.activities.DocumentationWebViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>